.navbar-box{
     /* background: rgba(255,255,255,0.2);
backdrop-filter: blur(5px);
position: fixed;
margin: auto;
z-index: 1;
border:1px solid white;
color:white;
top: 20px;
border-radius: 20px; */
height:100px;
background-color: white;
position: fixed;
z-index: 1;
top: 20px;



}
.logobox{
     width: 50%;
     height:0;
     border-bottom: 50px solid rgb(241, 51, 51);
     border-right: 50px solid transparent;
}